# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
.pnpm-debug.log

# macOS
.DS_Store

# Puppeteer Chromium cache
.chromium/

# Vercel (lokal configler)
.vercel/

# Logs
logs
*.log
*.log.*

# Environment variables (eğer ileride kullanırsan)
.env
.env.local
.env.*.local
